<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">
    <bean id="suffixDispatcher" class="common.SuffixDispatcher" scope="singleton" />
    <bean id="configCenter" class="common.ConfigCenter" scope="singleton" />
    <bean id="fileEditor" class="biz.file.FileEditor"/>
    <bean id="switcher" class="common.Switcher" scope="singleton"/>
    <bean id="urlExecutor" class="web.url.UrlExecutor" scope="singleton"/>

    <bean id="dispatchMapping" class="common.DispatchMapping">
        <property name="mappingTable">
            <map>
                <entry key="assets" value-ref="assetsHandler" />
                <entry key="png" value-ref="pngHandler" />
                <entry key="htm" value-ref="jsonpHandler" />
                <entry key="combo" value-ref="comboHandler" />
                <entry key="other" value-ref="xmlHandler" />
            </map>
        </property>
    </bean>

    <bean id="assetsHandler" class="web.handler.impl.AssetsHandler"/>
    <bean id="jsonpHandler" class="web.handler.impl.JsonpHandler"/>
    <bean id="pngHandler" class="web.handler.impl.PngHandler"/>
    <bean id="comboHandler" class="web.handler.impl.ComboHandler"/>
    <bean id="xmlHandler" class="web.handler.impl.OtherHandler"/>

    <bean id="autoCleanDelegate" class="biz.file.AutoCleanDelegate" scope="singleton"/>

    <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
    <bean id="startQuertz" lazy-init="true" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="triggerCleanOnlineTime"/>
                <!--<ref bean="triggerCleanDailyTime"/>-->
            </list>
        </property>
    </bean>

    <!-- 定义触发时间 -->
    <bean id="triggerCleanOnlineTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="cleanOnlineJob"/>
        <!-- cron表达式 -->
        <property name="cronExpression" value="0 30 12 * * ?"/>
    </bean>

    <!--<bean id="triggerCleanDailyTime" class="org.springframework.scheduling.quartz.CronTriggerBean">-->
        <!--<property name="jobDetail" ref="cleanDailyJob"/>-->
        <!--&lt;!&ndash; cron表达式 &ndash;&gt;-->
        <!--<property name="cronExpression" value="0 * */1 * * ?"/>-->
    <!--</bean>-->
    <!-- 定义调用对象和调用对象的方法 -->
    <bean id="cleanOnlineJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 调用的类 -->
        <property name="targetObject" ref="autoCleanDelegate"/>
        <!-- 调用类中的方法 -->
        <property name="targetMethod" value="autoCleanOnline"/>
    </bean>
    <!--<bean id="cleanDailyJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
        <!--&lt;!&ndash; 调用的类 &ndash;&gt;-->
        <!--<property name="targetObject" ref="autoCleanDelegate"/>-->
        <!--&lt;!&ndash; 调用类中的方法 &ndash;&gt;-->
        <!--<property name="targetMethod" value="autoCleanDaily"/>-->
    <!--</bean>-->
</beans>